#header {
		    background-image: url("../img/SJG2.png");
		    min-height: 500px;
		    background-position: center;
		    background-size: cover;
		}
		#logo{
			background-image: url("../img/logo.png");
			background-size: 100%;
			min-width:100px; 
			min-height:100px; 
			border:solid;
			margin: 2%;
		}
		#nav{
			margin: 2%;
			list-style: none;
		}
		#busqueda{
			width: 60%;
			background-color: rgba("229, 224, 241, 0.8");

		}
		#directorios{
			margin: 0% 25% !important;
		}
		#article{
			background-color: #FFD43F;
			min-height: 300px;
		}
		#buscar{
			background-color: #F9E73D;
		}